body {

	--bg-a: #181c20;
	--bg-b: #1c2126;
	--bord: #242930;
	--bore: #313943;
	--accent: #ff82b2;

	--warn: #afa543;
	--wrnbg: #dacc4d0e;

	background-color: var(--bg-a);
	font-family: "Segoe UI", Arial, sans-serif;
	color: #cdd3da;

	cursor: default;
	margin: 0;

}

.text {
	border: solid 2px var(--bord);
	background-color: var(--bg-b);
	width: 720px;
	margin: 40px auto;
	padding: 64px 72px;
	border-radius: 4px;
}

.warn {
	border-left: solid 4px var(--warn);
	background-color: var(--wrnbg);
	width: 720px;
	margin: 40px auto;
	padding: 46px 72px 36px 72px;
}
.warn p { text-indent: 0 }

.upcoming {
	background-color: #e5e5f7;
	opacity: 0.8;
	background: repeating-linear-gradient( -45deg, #3eb4bf38, #3eb4bf38 2px, var(--bg-b) 2px, var(--bg-b) 20px );
}
.upcoming h1 {
	color: #e6e9ed;
	margin-bottom: 0;
}
.upcoming d {
	color: var(--accent);
}

.song {
	float: right;
	border-radius: 100%;
	border: solid 2px var(--bord);
	padding: 8px;
	cursor: pointer;
	user-select: none;
	transition: 0.1s;
}
.song:hover, .song:active {
	border-color: var(--bore);
	box-shadow: #0000001a 0 4px 16px;
}
.song:active {
	transform: scale(0.92);
	background-color: var(--bg-a);
}

.song .note {
	width: 42px;
	height: 42px;
	font-size: 32px;
	text-align: center;
	transform: translateY(-3px);
}

#copy {
	position: fixed;
	left: 8px; bottom: 8px;
	opacity: 0.2;
	user-select: none;
}

h1 {
	margin-top: 0;
	margin-bottom: 42px;
	font-size: 36px;
}
p {
	font-size: 20px;
	text-align: justify;
	text-indent: 1.6em;
	margin: 1em 0;
}
i {
	color: var(--accent);
}
divider {
	display: block;
	height: 0;
	margin: 3em 1em;
	border-bottom: 2px solid var(--bord);
}

longword {
	word-wrap: break-word;
	word-break: break-all;
}

.quote {
	text-indent: 0;
	margin: 2em .5em;
}
.quote i {
	color: #3eb4bf;
	display: block;
	margin-bottom: 4px;
}
.quote i::before {
	content: '> ';
	color: #485361;
}

.tiptext {
	position: absolute;
	transition: 0.1s;

	background-color: var(--bord);
	border-radius: 8px;
	font-size: 20px;
	padding: 12px;
	display: block;

	right: 8px;
	bottom: 72px;
	width: max-content;

	box-shadow: #0000001a 0 4px 16px;
}

::selection {
	color: inherit /* var(--bore) */;
	background: var(--bore);
}

@media only screen and (max-width: 900px) {
	h1 {
		font-size: 30px;
		margin-bottom: 24px;
	}
	p {
		font-size: 20px;
		text-align: left;
	}

	.text, .warn {
		width: auto;
		margin: 20px;
		padding: 42px;
	}
	.song .note {
		width: 32px; height: 32px;
		font-size: 24px;
	}
}

@media only screen and (max-width: 400px) {
	h1 {
		font-size: 26px;
	}
	p {
		font-size: 18px;
		text-indent: .6em;
	}

	.text, .warn {
		margin: 16px 12px;
		padding: 36px;
	}
	.song {
		border-color: var(--bore);
	}
	.song .note {
		width: 24px;
		height: 24px;
		font-size: 20px;
	}

	#copy {
		background-color: var(--bord);
		border: solid 2px var(--bore);
		padding: 4px;
		border-radius: 4px;
		opacity: 1;
		left: unset; right: 8px;
	}
}